In [93]:
import pandas as pd 
%matplotlib inline
import matplotlib.pyplot as plt
import requests
import json
import numpy as np

In [33]:
df = pd.read_csv("VeloLPData.csv")

In [34]:
df.head()

,Unnamed: 0,block_number,block_timestamp,tx_hash,event_index,origin_function_signature,origin_from_address,origin_to_address,pool_address,pool_name,...,token1_symbol,token0_amount,token1_amount,token0_amount_usd,token1_amount_usd,token0_address,token1_address,lp_token_action,lp_token_amount,lp_token_amount_usd
0,0,67243136,2023-01-15 13:26:17.000,0x81d5176912a3ce1c15eca10f6c933b07cc85fe67df93...,48,0xde5f6268,0xd37f04d801371d8fa13fc9583f7b755fe67bf2b7,0xcadc68d5834898d54929e694ed19e833e0117694,0xbf205335de602ac38244f112d712ab04cb59a498,sAMM-wstETH/WETH,...,WETH,0.000432,0.000914,0.73,1.40,0x1f32b1c2345538c0c6f582fcb022739c4a194ebb,0x4200000000000000000000000000000000000006,mint,0.000669,2.13
1,1,67234818,2023-01-15 13:13:02.000,0xfe8b5b75e9e7b25ada3f09a411b7758588cf82225c13...,5,0xb7e0d4c0,0xd37f04d801371d8fa13fc9583f7b755fe67bf2b7,0x9c12939390052919af3155f41bf4160fd3666a6f,0xbf205335de602ac38244f112d712ab04cb59a498,sAMM-wstETH/WETH,...,WETH,6.473000,13.707504,10891.73,21019.77,0x1f32b1c2345538c0c6f582fcb022739c4a194ebb,0x4200000000000000000000000000000000000006,mint,10.033073,31911.50
2,2,67021593,2023-01-15 07:27:36.000,0xc9fc1c502ce2a031f93a4dcd83778e6ee851bfe00d77...,4,0x5a47ddc3,0x14da1d50102b7e29103dd28ca2f2796866c99b11,0x9c12939390052919af3155f41bf4160fd3666a6f,0xbf205335de602ac38244f112d712ab04cb59a498,sAMM-wstETH/WETH,...,WETH,0.900083,1.907985,1504.70,2909.14,0x1f32b1c2345538c0c6f582fcb022739c4a194ebb,0x4200000000000000000000000000000000000006,mint,1.396049,4413.84
3,3,67437958,2023-01-15 19:57:42.000,0xe1c443b612172f4bf987368e52b14236614d0aef56fe...,48,0xde5f6268,0xb8890f4fe79a1a5e2a9a5fb51b5f0d5b3d9fb057,0xcadc68d5834898d54929e694ed19e833e0117694,0xbf205335de602ac38244f112d712ab04cb59a498,sAMM-wstETH/WETH,...,WETH,0.000334,0.000707,0.57,1.09,0x1f32b1c2345538c0c6f582fcb022739c4a194ebb,0x4200000000000000000000000000000000000006,mint,0.000517,1.66
4,4,67436254,2023-01-15 19:52:27.000,0x97bb87f77d38bb3fac82a9564f77e05d012947a7e8bd...,5,0xb7e0d4c0,0xb8890f4fe79a1a5e2a9a5fb51b5f0d5b3d9fb057,0x9c12939390052919af3155f41bf4160fd3666a6f,0xbf205335de602ac38244f112d712ab04cb59a498,sAMM-wstETH/WETH,...,WETH,3.399669,7.200000,5765.02,11119.25,0x1f32b1c2345538c0c6f582fcb022739c4a194ebb,0x4200000000000000000000000000000000000006,mint,5.269791,16884.27

In [35]:
df['Time'] =  df['block_timestamp'].astype('datetime64[ns]')
pairs = df['pool_name'].unique()

In [70]:
users = df['origin_from_address'].unique()

dfUsers = pd.DataFrame({'user' : users})

In [71]:
pairs

array(['sAMM-wstETH/WETH', 'vAMM-OP/USDC', 'vAMM-VELO/USDC',
       'sAMM-WETH/sETH', 'vAMM-WETH/USDC', 'vAMM-WETH/OP',
       'sAMM-FRAX/USDC', 'vAMM-OP/MAI', 'vAMM-WETH/sETH',
       'sAMM-USDC/DOLA', 'sAMM-USDC/sUSD', 'sAMM-USDC/MAI',
       'vAMM-VELO/OP', 'sAMM-USDC/DAI', 'vAMM-FRAX/OP',
       'vAMM-wstETH/WETH', 'sAMM-FRAX/sUSD', 'vAMM-WETH/DAI',
       'sAMM-sUSD/DAI', 'vAMM-USDC/MAI', 'vAMM-WETH/DOLA',
       'vAMM-USDC/DAI', 'vAMM-USDC/DOLA', 'vAMM-WETH/sUSD',
       'vAMM-FRAX/sUSD', 'vAMM-VELO/sUSD', 'vAMM-OP/sUSD',
       'vAMM-sUSD/sETH', 'vAMM-OP/DAI', 'vAMM-WETH/MAI', 'vAMM-VELO/WETH',
       'sAMM-VELO/sUSD', 'vAMM-wstETH/OP', 'vAMM-wstETH/USDC',
       'vAMM-DAI/MAI', 'sAMM-sUSD/MAI', 'sAMM-VELO/USDC'], dtype=object)

In [72]:
pairs[1]

'vAMM-OP/USDC'

In [76]:
def find_first_mint(row):
    return df_pair_mints[df_pair_mints.origin_from_address == row['user']]['Time'].min()

def find_last_burn(row):
    return df_pair_burns[df_pair_burns.origin_from_address == row['user']]['Time'].max()

def find_total_mints(row):
    return df_pair_mints[df_pair_mints.origin_from_address == row['user']]['lp_token_amount'].sum()

def find_total_burns(row):
    return df_pair_burns[df_pair_burns.origin_from_address == row['user']]['lp_token_amount'].sum()

def find_total_mints_usd(row):
    return df_pair_mints[df_pair_mints.origin_from_address == row['user']]['lp_token_amount_usd'].sum()

def find_total_burns_usd(row):
    return df_pair_mints[df_pair_mints.origin_from_address == row['user']]['lp_token_amount_usd'].sum()

In [105]:
colEntry = []
colExit = []
colTotalMints = []
colNetUSD = []

for pair in [pairs[1]] : 
    
    df_pair_mints = df[(df.pool_name == pair) & (df.lp_token_action == 'mint')]
    df_pair_burns = df[(df.pool_name == pair) & (df.lp_token_action != 'mint')]
    colEntry.append('First Mint' + pair)
    colExit.append('Last Burn' + pair)
    colTotalMints.append('Total Mints USD' + pair)
    colNetUSD.append('Net Mints USD' + pair)
    #f_pair_mints['lpPrice'] = df_pair_mints['lp_token_amount_usd'] / df_pair_mints['lp_token_amount']
    medianPrice = (df_pair_mints['lp_token_amount_usd'] / df_pair_mints['lp_token_amount']).median() 
    df_pair_mints['proxyPrice'] = df_pair_mints['lp_token_amount'] * medianPrice
    df_pair_mints['lp_token_amount_usd'] = np.where(df_pair_mints['lp_token_amount_usd'].isnull(),  df_pair_mints['proxyPrice'], df_pair_mints['lp_token_amount_usd'])
    
    dfUsers['First Mint' + pair] = dfUsers.apply(find_first_mint, axis=1)
    dfUsers['Last Burn' + pair] = dfUsers.apply(find_first_mint, axis=1)
    dfUsers['Total Mints' + pair] = dfUsers.apply(find_total_mints, axis=1)
    dfUsers['Total Burns' + pair] = dfUsers.apply(find_total_burns, axis=1)
    dfUsers['Net Mints' + pair] = dfUsers['Total Mints' + pair] - dfUsers['Total Burns' + pair]
    dfUsers['Total Mints USD' + pair] = dfUsers.apply(find_total_mints_usd, axis=1)
    dfUsers['Entered' + pair] = dfUsers['Total Mints' + pair] > 0 
    dfUsers['Exited' + pair] = dfUsers['Net Mints' + pair] == 0 
    dfUsers['Net Mints USD' + pair] = dfUsers['Total Mints USD' + pair]*dfUsers['Net Mints' + pair]/dfUsers['Total Mints' + pair]
    dfUsers['Net Mints USD' + pair] = dfUsers['Net Mints USD' + pair].fillna(0)
    
    
dfUsers['entrydate'] = dfUsers[colEntry].min(axis=1)
dfUsers['exitDate'] = dfUsers[colExit].max(axis=1)
dfUsers['Total Mints USD'] = dfUsers[colTotalMints].sum(axis=1)
dfUsers['Net Mints USD'] = dfUsers[colNetUSD].sum(axis=1)

/tmp/ipykernel_31209/3007566679.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pair_mints['proxyPrice'] = df_pair_mints['lp_token_amount'] * medianPrice
/tmp/ipykernel_31209/3007566679.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pair_mints['lp_token_amount_usd'] = np.where(df_pair_mints['lp_token_amount_usd'].isnull(),  df_pair_mints['proxyPrice'], df_pair_mints['lp_token_amount_usd'])

In [106]:
dfUsers

,user,First MintvAMM-OP/USDC,Last BurnvAMM-OP/USDC,Total MintsvAMM-OP/USDC,Total BurnsvAMM-OP/USDC,Net MintsvAMM-OP/USDC,Total Mints USDvAMM-OP/USDC,EnteredvAMM-OP/USDC,ExitedvAMM-OP/USDC,Net Mints USDvAMM-OP/USDC,entrydate,exitDate,Net Mints USD,Total Mints USD
0,0xd37f04d801371d8fa13fc9583f7b755fe67bf2b7,NaT,NaT,0.000000,0.000000,0.000000,0.000000,False,True,0.000000,NaT,NaT,0.000000,0.000000
1,0x14da1d50102b7e29103dd28ca2f2796866c99b11,NaT,NaT,0.000000,0.000000,0.000000,0.000000,False,True,0.000000,NaT,NaT,0.000000,0.000000
2,0xb8890f4fe79a1a5e2a9a5fb51b5f0d5b3d9fb057,NaT,NaT,0.000000,0.000000,0.000000,0.000000,False,True,0.000000,NaT,NaT,0.000000,0.000000
3,0xd2bc2c11b7b62b142512cc5c2368c709477ebdcb,NaT,NaT,0.000000,0.000000,0.000000,0.000000,False,True,0.000000,NaT,NaT,0.000000,0.000000
4,0xaf481bf6098ce6272734a86fb28d6c4fccf61761,NaT,NaT,0.000000,0.000000,0.000000,0.000000,False,True,0.000000,NaT,NaT,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,0x045d3d3bf9ef8ae7bae0e1ee2765349636d90057,NaT,NaT,0.000000,0.000000,0.000000,0.000000,False,True,0.000000,NaT,NaT,0.000000,0.000000
1430,0x2b133b6f1d3877ca592db3aed25168771b10df8e,2022-06-02 00:03:13,2022-06-02 00:03:13,0.015301,0.015301,0.000000,31192.799442,True,True,0.000000,2022-06-02 00:03:13,2022-06-02 00:03:13,0.000000,31192.799442
1431,0x9fea6d71bed43ab13cff10d8eeb9354d47f4e42c,NaT,NaT,0.000000,0.000000,0.000000,0.000000,False,True,0.000000,NaT,NaT,0.000000,0.000000
1432,0x8a72c47f190f2118227a83da784a2ce45c54f484,2022-07-05 15:53:24,2022-07-05 15:53:24,0.000356,0.000000,0.000356,726.492918,True,False,726.492918,2022-07-05 15:53:24,2022-07-05 15:53:24,726.492918,726.492918
1433,0xa5b7c9368addc7e8504f0c1d71ba5e4ebbd1d3bf,2022-07-29 16:27:56,2022-07-29 16:27:56,0.017810,0.000000,0.017810,36308.528333,True,False,36308.528333,2022-07-29 16:27:56,2022-07-29 16:27:56,36308.528333,36308.528333

In [92]:
df_pair_mints['proxyPrice'].iloc[-1]

5157.851410600317

In [87]:
medianPrice

2038674.7579201676

In [95]:
df_pair_mints['lp_token_amount_usd1'] = np.where(df_pair_mints['lp_token_amount_usd'].isnull(),  df_pair_mints['proxyPrice'], df_pair_mints['lp_token_amount_usd'])

/tmp/ipykernel_31209/93717091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pair_mints['lp_token_amount_usd1'] = np.where(df_pair_mints['lp_token_amount_usd'].isnull(),  df_pair_mints['proxyPrice'], df_pair_mints['lp_token_amount_usd'])